@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div style="text-align: justify;">
    <p>Hey there! Welcome to our site. We’re super glad you dropped by, and we want to make sure you know what’s going on with your personal information while you’re hanging out here.</p>
    <hr/>
    <h4>1. Information We Collect</h4>
    <ul>
        <li>
            <strong>Basic Stuff: </strong>
            We might grab some details about you when you visit our site, like your IP address, browser type, and how you’re browsing around. It’s kind of like the digital equivalent of us saying "hi" and taking note of how you look.
        </li>
        <li>
            <strong>Cookies: </strong>
            Yeah, we use cookies. But not the tasty kind. These little guys help us remember you, improve your experience, and keep track of things like what pages you click on. You can turn them off if you want, but that might make the site a little less fun.
        </li>  
    </ul>  
    <h4>2. What We Do With Your Info</h4>
    <ul>
        <li>
            <strong>Make Things Better: </strong>
            We might use your info to make our website better and more interesting. You know, to give you what you want.
        </li>
        <li>
            <strong>Marketing Stuff: </strong>
            Sometimes we might show you ads or send you some emails, but don’t worry, we won’t spam you too much. If you don’t want to hear from us, just tell us to buzz off (unsubscribe is the official term).
        </li>  
        <li>
            <strong>Sharing with Friends (or Not): </strong>
            We don’t sell your info to random strangers. But, if a legal giant like the government asks for your details, we may have to hand them over. Sorry, that’s how things go.
        </li>   
    </ul> 
    <h4>3. Your Rights</h4>
    <ul>
        <li>
            <strong>Access: </strong>
            You can ask us what info we have about you anytime. We’re happy to let you know, but we might charge you a small fee for the "trouble" of digging through our files (just kidding, probably not).
        </li>
        <li>
            <strong>Update Your Info: </strong>
            If you feel like your info is out of date or incorrect, let us know and we’ll try to fix it.
        </li>  
        <li>
            <strong>Opt-Out: </strong>
            If you don’t want us to collect cookies or send you emails, you can change your settings, or tell us to back off, and we’ll respect that.
        </li>   
    </ul>  
    <h4>4. Data Security (Kinda)</h4>
    <p>We do our best to keep your info safe, but let’s face it, nothing on the internet is 100% secure. If a hacker gets into our systems, well, we’ll deal with it, but can’t promise no one will take a peek. So, don’t put any secret passwords or treasure maps on here, okay?</p>
    <h4>5. Third-Party Stuff</h4>
    <p>If we link to other websites, that’s not our responsibility. If they go rogue and do weird stuff with your data, that’s on them. Don’t come to us crying about it.</p>
    <h4>6. Changes to This Policy</h4>
    <p>We reserve the right to change this policy whenever we feel like it. When we do, we’ll update this page and let you know in our own special way (probably just the date at the top). Keep checking in if you care.</p>
    <h4>7. Contact Us</h4>
    <p>If you have questions, concerns, or just want to say "hi," feel free to reach out at <a href="#">pleasehesitate@pcfmail.com</a>. We’ll try to respond as quickly as we can, but no promises.</p>
    <hr/>
    <strong>Last Updated: December 20, 2024</strong>
    <hr/>
    <p><strong>Disclaimer: </strong>This privacy policy is just for fun. If you are creating a website, please consult a legal professional to draft a legitimate privacy policy that complies with laws like GDPR, CCPA, etc.</p>
</div>